* {
	font-size: 1em;
	background-color: hsl(0, 0%, 0%);
	color: hsl(0, 0%, 100%);
}

.developerHero {
	display: block;
	margin: auto;
	width: 20em;
	height: 50em;
	padding-left: 8em;
	background-color: hsl(0, 0%, 12%);
	border-radius: 1em;
}

h1,
.devBio,
.devCity,
.devSocialMedia,
p {
	background: hsl(0, 0%, 12%);
}

.devName {
	font-size: 2em;
	/* top | right | bottom | left */
	margin: 0.85em 2em 0 0;
}

.devCity {
	/* top | right | bottom | left */
	margin: 1em 1em 1em 1em;
}

.devInfo {
	/* top | right | bottom | left */
	margin: 1em 0 1em 0;
}

img {
	display: block;
	border-radius: 50%;
}

.devCity {
	color: hsl(75, 94%, 57%);
	font-weight: bold;
}

.devGitHub,
.devFem,
.devLinkedIn,
.devTwitter,
.devInsta {
	/* display: flex; */
	border-radius: 1em;
	/* top | right | bottom | left */
	padding: 1em 4em 1em 4em;
	margin-left: 0;
	margin-top: 1em;
	background-color: hsl(0, 0%, 20%);
	border: none;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
